canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
}

.main-container {
  width: 600px;
  margin:auto;
  max-width: 100%;
  height: 360px;
}

#background {
  z-index: -2;
}

#main {
  z-index: -1;
}

#ship {
  z-index: 0;
}

.score {
  position: absolute;
  top: 5px;
  left: 480px;
  color: #FF7F00;
  font-family: Helvetica, sans-serif;
  cursor: default;
}

.game-over, .you-win {
  /* border-style: solid; */
  /* border-width: 10px;
  border-radius: 5px; */
  /* background: black; */
  /* border-color: rgb(15, 204, 5); */
  color: rgb(9, 184, 0);
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  left: 0;
  top: 20%;
  color: #FF7F00;
  width: inherit;
  height: 20%;
  font-size: large;
  cursor: default;
  display: none;
}

#game-over, #you-win {
  color: rgb(9, 184, 0);
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.game-over span, .you-win span {
  color: rgb(9, 184, 0);
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  cursor: pointer;
  position: relative;

}

.game-over span:hover {
  color: #FFD700;
}

.loading {
  position: absolute;
  left: 0;
  color: white;
  background: black;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  width: inherit;
  height: inherit;
  cursor: default;
}

.loading p {
  animation: blinker 1s linear infinite;
  margin-top: 25%;
  font-size: 15px;
}

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

#halfway {
  animation: blinker 1s linear infinite;
  display: none;
  font-family: 'Press Start 2P', cursive;
  color: rgb(9, 184, 0);
  position: absolute;
  top: 145px;
  left: 20px;
}

#score {
  display: none;
  width: 600px;
  height: 30px;
  background: black;
  position: absolute;
  top: 360px;
  left: 0;
  color: rgb(9, 184, 0);
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

#controller {
  visibility: hidden;
  width: 600px;
  max-width: 100%;
  height: 60px;
  position: absolute;
  top: 390px;
  text-align: center;
}

#left, #right, #fire {
  border: none;
}

#left {
  font-size: 40px;
  color: blue;
  position: absolute;
  left: 90px;
  top: 12px;
}

#right {
  font-size: 40px;
  color: blue;
  position: absolute;
  left: 150px;
  top: 12px;
}

#left svg, #right svg {
  border-style: outset;
  border-radius: 30px;
  border-color: blue;
}

#left svg:active, #right svg:active {
  border-style: inset;
  border-radius: 30px;
}

#fire {
  color: white;
  background-color: red;
  font-size: 20px;
  border-style: outset;
  border-radius: 200px;
  border-color: red;
  padding: 8px 7px 8px 7px;
  position: absolute;
  margin-left: 40px;
  top: 15px;
}

#fire:active {
  border-style: inset;
}

@media only screen and (max-width: 599px) {
  body {
    width: 100%;
  }
  canvas {
    max-width: 100%;
  }
  #score {
    max-width: 100%;
  }
  #controller {
    visibility: visible;
  }
  #game-over, #you-win {
    width: 40%;
    font-size: large;
    height: 10%;
  }
}
