canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
}
body {
  background-color: black;
}

.main-container {
  width: 600px;
  margin:auto;
  max-width: 100%;
  height: 360px;
  position: relative;
  margin: auto;
}

#background {
  z-index: -2;
}

#main {
  z-index: -1;
}

#ship {
  z-index: 0;
}

.score {
  position: absolute;
  top: 5px;
  left: 480px;
  color: #FF7F00;
  font-family: Helvetica, sans-serif;
  cursor: default;
}

.game-over, .you-win {
  /* border-style: solid; */
  /* border-width: 10px;
  border-radius: 5px; */
  /* background: black; */
  /* border-color: rgb(15, 204, 5); */
  color: rgb(9, 184, 0);
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  left: 0;
  top: 20%;
  color: #FF7F00;
  width: inherit;
  height: 20%;
  font-size: large;
  cursor: default;
  display: none;
}

#game-over, #you-win {
  color: rgb(9, 184, 0);
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.game-over span, .you-win span {
  color: rgb(9, 184, 0);
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  cursor: pointer;
  position: relative;

}

.game-over span:hover {
  color: #FFD700;
}

.loading, #start-game {
  position: absolute;
  left: 0;
  color: white;
  background: black;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  width: inherit;
  height: inherit;
  cursor: default;
}

#start-game {
  display: block;
  font-size: 15px;
}

#claude, #eprom, #start-click {
  cursor: pointer;
}

#load-sign  {
  animation: blinker 1s linear infinite;
  font-size: 15px;
}

.loading {
      display: none;
}

.selected {
  animation: blinker 1s linear infinite;
  font-size: 15px
}

#select {
  margin-top: 20%;

}
#mission {
  margin-top: 25%;
}

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

#halfway {
  animation: blinker 1s linear infinite;
  display: none;
  font-family: 'Press Start 2P', cursive;
  color: rgb(9, 184, 0);
  position: absolute;
  top: 145px;
  left: 20px;
}

#score {
  display: none;
  width: 600px;
  height: 30px;
  background: black;
  position: absolute;
  top: 360px;
  left: 0;
  color: rgb(9, 184, 0);
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

#controller {
  visibility: hidden;
  width: 600px;
  max-width: 100%;
  height: 60px;
  position: absolute;
  top: 390px;
  text-align: center;
  border: none;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

#left, #right, #fire {
  border: none;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

#left:focus, #right:focus, #fire:focus {
  outline: none;
}


#left {
  font-size: 40px;
  background-color: rgb(133, 133, 133);
  position: absolute;
  left: 90px;
  top: 18px;
}

#right {
  font-size: 40px;
  background-color: rgb(133, 133, 133);
  color: blue;
  position: absolute;
  left: 150px;
  top: 19px;
}

i.material-icons {
  font-size: 40px;
  color: rgb(70, 70, 70);
}

 button#left, button#right {
  border-style: outset;
  border-color: rgb(133, 133, 133);
  height: 40px;
  padding-bottom: 40px;
}

#left i{
  transform: rotate(180deg);
}

#left button:active, #right button:active {
  border-style: inset;

}

#fire {
  color: white;
  background-color: red;
  font-size: 20px;
  border-style: outset;
  border-radius: 200px;
  border-color: red;
  padding: 8px 7px 8px 7px;
  position: absolute;
  margin-left: 40px;
  top: 15px;
  border-style: inset;
  border: none;
  user-select: none;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
   /* Standard syntax*/

}
* {
  user-select: none;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none;
}

p:focus {
  outline: none;
}


#fire:active {
  outline: none;
  border-style: inset;
  border: none;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax*/
}

@media only screen and (max-width: 599px) and (orientation : portrait) {
  body {
    width: 100%;
  }
  canvas {
    max-width: 100%;
  }

  .main-container {
    position: absolute;
    top: 17%;
    left: 0;
  }
  #score {
    max-width: 100%;
    position: absolute;
    top: 70%;
  }
  #controller {
    visibility: visible;
  }
  #game-over, #you-win {
    width: 100%;
    font-size: large;
    height: 10%;
  }

  #start-game, #loading {
    max-width: 100%;
    font-size: 15px;
  }
}


@media only screen and (max-width: 1024px) and (orientation : landscape) {

  #controller {
    visibility: visible;
  }

  canvas {
    max-width: 600px;
  }
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

  .main-container {
    width: 600px;
    margin:auto;
    max-width: 100%;
    height: auto;
    position: relative;
    margin: auto;
  }



}
